/*******************************************************************************
*
* Global
*
*******************************************************************************/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  margin-bottom: 10em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  margin: 2em 0 1em 0;
  color: #2ECC40;
}

h3 {
  margin-top: 0;
}

hr {
	border-top: 1px solid #aaa;
}


/*******************************************************************************
*
* Home
*
*******************************************************************************/

.projects .project {
  margin-bottom: 2em;
}

.skills .row,
.contact .row,
.projects .row {
  margin-bottom: 0.5em;
}

/*******************************************************************************
*
* Assignment Header
*
*******************************************************************************/

.assignment-home-container header,
.assignment-container header {
	border-bottom: 1px dashed #aaa;
}

.assignment-home-container header .breadcrumb,
.assignment-container header .breadcrumb {
	background-color: #fff;
  margin-bottom: 0;
}

/*******************************************************************************
*
* Assignment Home
*
*******************************************************************************/

.assignment-home-container h1 {
  margin-bottom:1rem;
}

.assignment-home-container ul {
	display: flex;
	/*justify-content: space-between;*/
	flex-wrap: wrap;
}

.assignment-home-container ul li {
	max-width: 250px;
	border: 1px solid #ddd;
  padding: 0 2rem 2rem 2rem;
	margin: 1rem;
  background-color: #f7f7f7;
}

/*******************************************************************************
*
* Assignment
*
*******************************************************************************/

.assignment-container h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.assignment-container h2 {
  font-weight: bold;
  margin-top: 60px;
}
.assignment-container .assignment-image {
	margin:1.75rem 0;
}

/*******************************************************************************
*
* Post Header
*
*******************************************************************************/

.post-home-container header,
.post-container header {
  border-bottom: 1px dashed #aaa;
}

.post-home-container header .breadcrumb,
.post-container header .breadcrumb {
  background-color: #fff;
  margin-bottom: 0;
}

/*******************************************************************************
*
* Post Home
*
*******************************************************************************/

.post-home-container h1 {
  margin-bottom:1rem;
}

/*******************************************************************************
*
* Post
*
*******************************************************************************/

.post-container h2 {
  margin-top:3rem;
  font-weight: bold;
}

.post-container h3 {
  margin-top:2rem;
  font-weight: bold;
}

.post-container pre,
.post-container code {
  font-size: medium;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

.post-container pre {
	padding:1.5rem;
}

.post-container .tip {
  background-color: #fee;
  margin: 1rem 0;
  padding: 1rem 2rem;
  font-style: italic;
}
