/*******************************************************************************
*
* Global
*
*******************************************************************************/

body {
	font: large/1.556 "Libertine", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
  word-spacing: 0.1em;
}

hr {
	border-top: 1px dashed #aaa;
}

/*******************************************************************************
*
* Global Highlighter styles
*
*******************************************************************************/

.highlighter-normal {
  padding: 0.2em;
	background-color:#ff0;
}

.highlighter-important {
  padding: 0.2em;
	background-color: #ff6cf7;
}

/*******************************************************************************
*
* Footer
*
*******************************************************************************/

footer .copyright {
  padding: 30px;
  margin-top: 50px;
  height: 200px;
  border-top: 1px solid #ddd;
  background-color: #f7f7f7;
}

/*******************************************************************************
*
* Home
*
*******************************************************************************/

.home-container header {
  text-align: center;	
  border-bottom: 1px dashed #aaa; 
}

.home-container header h1, 
.home-container header h2 {
  display: inline-block; 
}

.home-container header h1:after {
    content: ' / ';
}

.home-container .sub-heading {
  display: inline-block;
  margin-bottom: 1em;
  margin-top: 1em;
}

.home-container .skills,
.home-container .projects,
.home-container .contact {
  border-bottom: 1px dashed #aaa;
  padding: 0 0 1.5em 0;
}

.home-container .skills {
	padding-top: 1em;
}

.home-container .skills li {
  margin-bottom: 10px;
}

.home-container .projects h2 {
  margin-top: 0;
}

.home-container .projects .thumbnail {
	width: 220px;
}

.home-container .projects .technologies {
	font-size: 0.8em;
	color: #888;
}

.home-container .contact li {
  margin-bottom: 20px;
}

.home-container .fun {
	height: 210px;
	margin-bottom: 4em;
	padding:40px 0;
	border: 4px dotted #ddd;
}

/*******************************************************************************
*
* Assignment Header
*
*******************************************************************************/

.assignment-home-container header,
.assignment-container header {
	border-bottom: 1px dashed #aaa;
}

.assignment-home-container header .breadcrumb,
.assignment-container header .breadcrumb {
	background-color: #fff;
  margin-bottom: 0;
}

/*******************************************************************************
*
* Assignment Home
*
*******************************************************************************/

.assignment-home-container h1 {
  margin-bottom:1em;
}

.assignment-home-container ul li {
	padding: 20px 0;
	border-bottom: 1px solid #eee;
}

.assignment-home-container .assignment-block {
  border: 1px solid #ddd;
  padding: 0 1em 1em 1em;
  background-color: #f7f7f7;
  margin-bottom: 20px;
}

.assignment-home-container .assignment-block img {
	width: 100%;
	max-width: 300px;
}

/*******************************************************************************
*
* Assignment
*
*******************************************************************************/

.assignment-container h1 {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.assignment-container h2 {
  font-weight: bold;
  margin-top: 60px;
}
.assignment-container .assignment-image {
	margin:1.75em 0;
}

.assignment-container .highlight pre {
	font-size: 0.75em;
}

