<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<meta name="description" content="Hi, I'm a JavaScript developer based in Sydney specialising in JavaScript application development.">
	<meta name="keywords" content="freelance, contractor, javascript, developer, programmer, engineer, sydney, epping">

  <title>{{ page.title }}</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/assets/css/styles.css" rel="stylesheet">

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>

</head>

<body>

{{ content }}

{% include footer.html %}

</body>

</html>
